* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* navbar */
.navBar {
  /* position: fixed;
  top: 0;
  width: 100%; */
  background-color: #1877f2;
  display: flex;
  align-items: center;
  gap: 400px;
}
.logo {
  background: #1877f2;
  width: 50px;
  height: 50px;
}
.searchBar {
  width: 400px;
  padding: 10px;
  background-color: #004aac;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
  color: #ffffff;
}
.searchBar::placeholder {
  color: #ffffff;
}
/* navbar */
.userImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.post {
  border: 1px solid blue;
  width: 800px;
  margin-top: 40px;
  padding: 20px;
}
.hero {
  display: flex;
  justify-content: center;
}
.postTop {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.postBottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.postImage {
  width: 700px;
  height: 400px;
}
